<h1>Rotten Mangoes</h1>
<h1>Movie Search</h1>
<%= form_tag(movies_path, method: "get") do %>
<%= label_tag :director, "Director"%>
<%= text_field_tag :director %>
<%= label_tag :title, "Title"%>
<%= text_field_tag :title %>
<%= select_tag(:duration, options_for_select([["Duration","0|1000"],["Less than 90 minutes", "0|89"],["Between 90 and 120 minutes", "90|120"], ["Longer than 120 minutes","121|1000"]]))%>
<%= submit_tag("Search")%>
<% end %>
<%= link_to "Or submit a movie!", new_movie_path %>
<hr>
<% @movies.each do |movie| %>
  <%= link_to image_tag(movie.image.url(:thumb).to_s), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %> | 
      <% if movie.reviews.size == 0 %>
        <p>No reviews yet.</p>
      <% else %>
        <%= movie.review_average %>/10</h2>
      <% end %>
  <h3><%= formatted_date(movie.release_date) %></h3>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
<% end %>