<%= paginate @users %>

<%= link_to "Create a User", new_admin_user_path %>

<% @users.each do |user| %>
  <div>
    <ul> <%= user.firstname %> <%= user.lastname %>
    <li> <%= user.email %> </li>
    <li> <%= user.admin %> </li></ul>
  </div>
  <%= link_to "masquerade", "/admin/change_users/#{user.id}" %>
  <%= link_to "edit", edit_admin_user_path(user) %>
  <%= link_to "delete", admin_user_path(user), method: "delete" %>
<% end %>